@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,600;0,700;1,500&display=swap');

.Board-typo {
  color: #FFF;
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sign-btn {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-typo {
  position: absolute;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.687%;
  /* 29.445px */
  top: 50px;
  left: 72px;
  letter-spacing: 0.36px;
}